body {
  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

:root {
  --font-family: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-family-heading: gitbook-content-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

html[data-theme=dark] {
  --text-color: #d1d1d1;
}